profiles {
	conda { process.conda = "$baseDir/environment.yml" }
	docker { docker.enabled = true }
}

process {

	withLabel: synapse {
		container = 'quay.io/sagebionetworks/synapsepythonclient:v2.5.1'
	}

	withLabel: aws {
		container = 'quay.io/brunograndephd/aws-cli:latest'
	}

}

manifest {
	name = 'Sage-Bionetworks-Workflows/nf-synindex'
	author = 'Bruno Grande'
	homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-synindex'
	description = 'Nextflow pipeline for indexing S3 objects in Synapse'
	mainScript = 'main.nf'
	nextflowVersion = '>=21.09.0-edge'
	version = '0.1'
	defaultBranch = 'main'
}
